<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs'); %>

<body>
    <!-- Primary Navigation -->
    <!-- Secondary Navigation -->

    <!-- Carousel -->

    <!-- Feeds Section -->

    <!-- 
     (Aside Content) 

      Primary Contacts 

      Secondary Contacts -->

    <!-- Chat Icon -->

    <%- include('./partials/footer.ejs'); %>

</body>

</html>