<!DOCTYPE html>
<html lang="en">

<%- include("./partials/header.ejs"); %>

<body>

    <div id="landing">
        <!-- Navigation Section -->
        <nav class="navbarnavbar-light fixed-top d-flex">
            <div class="p-2">
                <img class="ml-2" src="/assets/logo_scm.svg" alt="" width="60" height="60">
            </div>
            <div class="container top-nav d-flex justify-content-end">
                <!-- <a class="navbar-brand fs-6 text-success" href="#">
                    SIMFONI CAPITAL MANAGEMENT
                </a> -->
                <div class="d-flex">
                    <a class="nav-link link-secondary fs-6 fw-semi" href="#">Home</a>
                    <a class="nav-link link-secondary fs-6 fw-semi" href="#">About</a>
                    <a class="nav-link link-secondary fs-6 fw-semi" href="#">Contact</a>
                    <a class="nav-link link-secondary fs-6 fw-semi" href="#">Dolor</a>
                    <a class="nav-link link-secondary fs-6 fw-semi" href="#">Melit</a>
                    <a class="nav-link link-secondary fs-6 fw-semi" href="#">Doris</a>
                    <a class="nav-link link-secondary fs-6 fw-semi" href="#">Beule</a>
                    <a class="nav-link link-secondary fs-6 fw-semi" href="#">Nobis</a>
                </div>
            </div>
        </nav>

        <!-- Carousel Section -->
        <div class="parent">
            <div id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active carousel-container">
                        <img src="/assets/bg_1.jpg" class="carousel-img d-block w-100" alt="...">
                        <div class="carousel-caption">
                            <h1 class="carousel-title fw-bold">EIS NOBIS SOLUTA DOLOREMQUE SUSCIPIT</h1>
                            <p class="carousel-text fw-light fs-6">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. At
                                expedita
                                nostrum fuga, eaque
                                eius nobis soluta doloremque suscipit perspiciatis eveniet eligendi exercitationem ullam
                                vel provident consequuntur et laudantium consectetur dolor!</p>
                        </div>
                    </div>
                    <div class="carousel-item carousel-container">
                        <img src="/assets/bg_2.jpg" class="carousel-img d-block w-100" alt="...">
                        <div class="carousel-caption">
                            <div>
                                <h1 class="carousel-title fw-bold">LORE IPSUM SEMIT ADIPISICING</h1>
                                <p class="carousel-text fw-light fs-6">Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. At
                                    expedita
                                    nostrum fuga,
                                    eaque eius nobis soluta doloremque suscipit perspiciatis eveniet eligendi
                                    exercitationem ullam vel provident consequuntur et laudantium consectetur dolor!</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item carousel-container">
                        <img src="/assets/bg_3.jpg" class="carousel-img d-block w-100" alt="...">
                        <div class="carousel-caption">
                            <div>
                                <h1 class="carousel-title fw-bold">DOLOR DORIS MELIT FELIS</h1>
                                <p class="carousel-text fw-light fs-6">Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. At
                                    expedita
                                    nostrum fuga,
                                    eaque eius nobis soluta doloremque suscipit perspiciatis eveniet eligendi
                                    exercitationem ullam vel provident consequuntur et laudantium consectetur dolor!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Regitration/Login Form -->
            <div class="form-card signup-form">
                <form class="form-wrapper">
                    <div class="form-header">
                        <h2 class="fw-bold text-success fs-4 align-left">Sign Up</h2>
                    </div>
                    <div class="form-input">
                        <div class="box">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Individual</option>
                                <option value="Catalyst">Catalyst</option>
                                <option value="Investor">Investor</option>
                            </select>
                        </div>
                        <div class="box">
                            <label for="fname" hidden></label>
                            <input name="fname" type="text" placeholder="Full Name">
                        </div>
                        <div class="box">
                            <label for="oname" hidden></label>
                            <input class="" name="oname" type="text" placeholder="Organization Name">
                        </div>
                        <div class="box">
                            <label for="email" hidden></label>
                            <input name="email" type="email" placeholder="Email">
                        </div>
                        <div class="box">
                            <label for="email" hidden></label>
                            <input name="email" type="password" placeholder="Password">
                        </div>
                        <div class="box">
                            <label for="" hidden></label>
                            <input name="phone-num" type="tel" placeholder="+(Area Code)(Number)">
                        </div>

                        <button type="button" class="btn btn-success ">Sign up</button>
                    </div>

                    <div class="d-grid justify-content-center mt-4 p-0">
                        <p class="fs-6 text-muted">
                            Already have an account?
                            <a href="#" class="text-success login-btn">Login</a>
                        </p>

                    </div>
                </form>
            </div>

            <!-- Login Form -->
            <div class="form-card login-form" hidden>
                <form class="signup-form form-wrapper">
                    <div class="form-header">
                        <h2 class="fw-bold text-success fs-4 align-left">Login</h2>
                    </div>
                    <div class="form-input">
                        <div class="box">
                            <label for="email" hidden></label>
                            <input name="email" type="email" placeholder="Email">
                        </div>
                        <div class="box">
                            <label for="email" hidden></label>
                            <input name="email" type="password" placeholder="Password">
                        </div>
                        <button type="button" class="btn btn-success ">Login</button>
                    </div>

                    <div class="d-grid justify-content-center mt-4 p-0">
                        <p class="fs-6 text-muted">
                            Not yet registered?
                            <a href="#" class="text-success signup-btn">Signup</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include("./partials/footer.ejs"); %>
</body>

</html>