/* :root {
    --secondary: white;
} */


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand-900', sans-serif;
    letter-spacing: 5px;
}

p {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.1em;
}

a {
    font-family: "Oxygen-700", sans-serif;
    font-size: 1em;
}

nav {
    background-color: #eceff1;
}

#landing {
    height: 100vh;
    width: 100vw;
    position: relative;
}

/* Landing Page Navigation Bar */
.top-nav {
    align-items: center;
    padding: 0 3em !important;
}

.logo {
    display: flex;
    align-items: center;
}

.brand {
    color: black;
}

/* Carousel Section */

.carousel-container {
    max-width: 100vw;
    max-height: 100vh;
    background-color: black;
}

.carousel-img {
    max-width: 100%;
    height: 800px;
    overflow: hidden;
    opacity: 0.3;
}

.carousel-title {
    color: white;

}

.carousel-caption {
    left: 15% !important;
    top: 25%;
    right: 52% !important;
    text-align: left !important;
    padding: 0 0.85em;
}

.carousel-text {
    letter-spacing: 2px;
}

.parent {
    position: relative;
}

.carousel-caption p {
    line-height: 40px;
}

/* Form CSS */

.form-card {
    position: absolute;
    width: 24rem;
    height: auto;
    text-align: center;
    top: 18%;
    left: 61%;
    background-color: #eceff1;
    border-radius: 20px;
}

.form-header {
    padding: 1rem 0.5rem;
    margin: 0 0 1rem;
    border-radius: 20px 20px 0 0;
    color: black;
    border-bottom: 1px solid #ced4da;
}

.form-wrapper {
    display: grid;
    text-align: center;
}

.form-input {
    display: grid;
    justify-content: center;
    row-gap: 20px;
}

.box {
    display: flex;
    justify-content: space-between;
}

.box input {
    width: 20rem;
    padding: 5px 10px;
    border: 1px solid #ced4da;
    border-radius: 8px;
}